// Place all the styles related to the JournalEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    background-image: url(https://i.pinimg.com/originals/60/90/d5/6090d5d66544b488eb97691750ea4c3d.jpg);
    background-color: #b19999;
    font-family: Bradley Hand, cursive;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

   
   }